USE [master]
GO
/****** Object:  Database [FinanceiroDB]    Script Date: 25/09/2025 02:54:25 ******/
CREATE DATABASE [FinanceiroDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinanceiroDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FinanceiroDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FinanceiroDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FinanceiroDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinanceiroDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinanceiroDB]
GO
/****** Object:  Schema [fin]    Script Date: 25/09/2025 02:54:25 ******/
CREATE SCHEMA [fin]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 25/09/2025 02:54:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Tipo] [char](1) NOT NULL,
	[Ativo] [bit] NOT NULL,
	[DataCriacao] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Categorias_NomeTipo] UNIQUE NONCLUSTERED 
(
	[Nome] ASC,
	[Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transacoes]    Script Date: 25/09/2025 02:54:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transacoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](250) NOT NULL,
	[Valor] [decimal](18, 2) NOT NULL,
	[Data] [datetime2](7) NOT NULL,
	[CategoriaId] [int] NOT NULL,
	[Observacoes] [nvarchar](max) NULL,
	[DataCriacao] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categorias] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Categorias] ADD  DEFAULT (sysdatetime()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Transacoes] ADD  DEFAULT (sysdatetime()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Transacoes]  WITH CHECK ADD  CONSTRAINT [FK_Transacoes_Categorias] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[Transacoes] CHECK CONSTRAINT [FK_Transacoes_Categorias]
GO
ALTER TABLE [dbo].[Categorias]  WITH CHECK ADD  CONSTRAINT [CK_Categorias_Tipo] CHECK  (([Tipo]='D' OR [Tipo]='R'))
GO
ALTER TABLE [dbo].[Categorias] CHECK CONSTRAINT [CK_Categorias_Tipo]
GO
ALTER TABLE [dbo].[Transacoes]  WITH CHECK ADD  CONSTRAINT [CK_Transacoes_Valor] CHECK  (([Valor]>(0)))
GO
ALTER TABLE [dbo].[Transacoes] CHECK CONSTRAINT [CK_Transacoes_Valor]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetTransacoes]    Script Date: 25/09/2025 02:54:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Listar transacoes com filtros (periodo, categoria, tipo)
CREATE PROCEDURE [dbo].[usp_GetTransacoes]
    @DataInicio DATETIME2 = NULL,
    @DataFim DATETIME2 = NULL,
    @CategoriaId INT = NULL,
    @Tipo CHAR(1) = NULL -- 'R' or 'D'
AS
BEGIN
    SET NOCOUNT ON;

    SELECT t.Id, t.Descricao, t.Valor, t.Data, t.CategoriaId, c.Nome AS CategoriaNome, c.Tipo AS CategoriaTipo, t.Observacoes, t.DataCriacao
    FROM Transacoes t
    INNER JOIN Categorias c ON c.Id = t.CategoriaId
    WHERE (@DataInicio IS NULL OR t.Data >= @DataInicio)
      AND (@DataFim IS NULL OR t.Data <= @DataFim)
      AND (@CategoriaId IS NULL OR t.CategoriaId = @CategoriaId)
      AND (@Tipo IS NULL OR c.Tipo = @Tipo)
    ORDER BY t.Data DESC, t.Id DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertTransacao]    Script Date: 25/09/2025 02:54:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ***********************
-- 6) Stored Procedures / Functions para endpoints e relatórios
-- ***********************
-- SP: Inserir transacao (opcional, a API também pode usar statements parametrizados)
CREATE PROCEDURE [dbo].[usp_InsertTransacao]
    @Descricao NVARCHAR(250),
    @Valor DECIMAL(18,2),
    @Data DATETIME2,
    @CategoriaId INT,
    @Observacoes NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Validações duplicadas (proteção extra)
    IF @Valor <= 0
    BEGIN
        RAISERROR('Valor deve ser maior que zero.', 16, 1);
        RETURN;
    END

    IF @Data > SYSUTCDATETIME()
    BEGIN
        RAISERROR('Data não pode ser futura.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM Categorias WHERE Id = @CategoriaId AND Ativo = 1)
    BEGIN
        RAISERROR('Categoria inexistente ou inativa.', 16, 1);
        RETURN;
    END

    INSERT INTO Transacoes (Descricao, Valor, Data, CategoriaId, Observacoes)
    VALUES (@Descricao, @Valor, @Data, @CategoriaId, @Observacoes);

    SELECT SCOPE_IDENTITY() AS NewId;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_RelatorioPorCategoria]    Script Date: 25/09/2025 02:54:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Relatorio por categoria
CREATE PROCEDURE [dbo].[usp_RelatorioPorCategoria]
    @DataInicio DATETIME2,
    @DataFim DATETIME2
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        c.Id AS CategoriaId,
        c.Nome AS CategoriaNome,
        c.Tipo AS CategoriaTipo,
        COUNT(t.Id) AS QuantidadeMovimentos,
        ISNULL(SUM(t.Valor),0) AS SomaValores
    FROM Categorias c
    LEFT JOIN Transacoes t ON t.CategoriaId = c.Id AND t.Data BETWEEN @DataInicio AND @DataFim
    GROUP BY c.Id, c.Nome, c.Tipo
    ORDER BY c.Tipo, SUM(t.Valor) DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_RelatorioResumo]    Script Date: 25/09/2025 02:54:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Relatorio resumo: saldo total, receitas e despesas por periodo
CREATE PROCEDURE [dbo].[usp_RelatorioResumo]
    @DataInicio DATETIME2,
    @DataFim DATETIME2
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH Mov AS (
        SELECT t.Valor,
               c.Tipo
        FROM Transacoes t
        INNER JOIN Categorias c ON c.Id = t.CategoriaId
        WHERE t.Data >= @DataInicio AND t.Data <= @DataFim
    )
    SELECT
        (SELECT ISNULL(SUM(CASE WHEN m.Tipo = 'R' THEN m.Valor WHEN m.Tipo = 'D' THEN -m.Valor END),0) FROM Mov m) AS SaldoTotal,
        (SELECT ISNULL(SUM(CASE WHEN m.Tipo = 'R' THEN m.Valor END),0) FROM Mov m) AS TotalReceitas,
        (SELECT ISNULL(SUM(CASE WHEN m.Tipo = 'D' THEN m.Valor END),0) FROM Mov m) AS TotalDespesas;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateTransacao]    Script Date: 25/09/2025 02:54:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Atualizar transacao
CREATE PROCEDURE [dbo].[usp_UpdateTransacao]
    @Id INT,
    @Descricao NVARCHAR(250),
    @Valor DECIMAL(18,2),
    @Data DATETIME2,
    @CategoriaId INT,
    @Observacoes NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Transacoes WHERE Id = @Id)
    BEGIN
        RAISERROR('Transacao nao encontrada.', 16, 1);
        RETURN;
    END

    IF @Valor <= 0
    BEGIN
        RAISERROR('Valor deve ser maior que zero.', 16, 1);
        RETURN;
    END

    IF @Data > SYSUTCDATETIME()
    BEGIN
        RAISERROR('Data nao pode ser futura.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM Categorias WHERE Id = @CategoriaId AND Ativo = 1)
    BEGIN
        RAISERROR('Categoria inexistente ou inativa.', 16, 1);
        RETURN;
    END

    UPDATE Transacoes
    SET Descricao = @Descricao,
        Valor = @Valor,
        Data = @Data,
        CategoriaId = @CategoriaId,
        Observacoes = @Observacoes
    WHERE Id = @Id;
END;
GO
USE [master]
GO
